.row{
  margin-left: 20px;
  color: #fff;
  &:hover{
    z-index: 10;
    position: relative;
  }
  &:hover .swiper-button-prev{opacity: 1;}
  &:hover .swiper-button-next{opacity: 1;}
  h2{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 900;
    &.user_title{
      margin-top: 60px;
    }
  }


  /* swiper */
  .swiper-button-prev, .swiper-button-next{
    color: #fff !important;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
  }
  .swiper-button-prev:after, .swiper-button-next::after{
    font-size: 1.3rem !important;
    font-weight: 600 !important;
  }

  .swiper-pagination{
    text-align: right !important;
  }
  .swiper-pagination-bullet{
    background: gray !important;
    opacity: 1 !important;
  }
  .swiper-pagination-bullet-active{
    background: #fff !important;
  }

  .swiper{
    position: relative;
    margin: 10px 0 30px !important;
    overflow: visible !important;
  }
  
  .row__posters{
    display: flex;
    padding: 20px 0 20px 20px;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  
  .row__posters::-webkit-scrollbar{
    display: none;
  }
  
  .movie_slide{
    position: relative;
    left: 0;
    padding: 0 10px;
    box-sizing: border-box;
    transform: scale(1);
    transition: transform 400ms linear 0s;

    &:hover{
      z-index: 10;
      transform: scale(1.5);

      &:first-of-type, &:nth-of-type(6n){
        left: 100px;
      }
      // &:nth-of-type(5n){
      //   right: 200px;
      // }
    }
    &:hover>.movie_information{
      visibility: visible;
    }

    .row__poster{
      width: 100%;
      max-height: 170px;
      object-fit: cover;
      
      border-radius: 4px;
    }
    .movie_information{
      position: absolute;
      padding: 10px 20px 0;
      width: calc(100% - 20px);
      height: 120px;
      bottom: -70%;
      left: 10px;
      font-size: 30px;
      background-color: #181818;
      box-sizing: border-box;
      visibility: hidden;

        .movie_icon{
          display: flex;
          justify-content: space-between;
            .movie_active{
              display:flex;
              justify-content: space-between;
              width: 110px;
            }
            .info_icon{
              font-size: 40px;
              opacity: 0.5;
              &:hover{
                opacity: 1;
                cursor: pointer;
              }
              &.like{
                position: relative;
                >strong{
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translateX(-50%) translateY(-60%);
                  font-size: 15px;
                  color: #fff;
                  
                }
              }
            }
            .information_more path{
              stroke: #fff;
            }
        }
        .movie_info{
          display: flex;
          flex-direction: column;

            .movie_title{
              font-size: 15px !important;
              margin-bottom: 5px;
            }
            .movieinfo_genre{
              font-size: 10px;
            }
        }
        .icon_checked{
          opacity: 1 !important;
        }
        
        .movieinfo_genre{
          font-size: 15px;
        }
        
    }

  }

}

@media screen and (min-width: 1200px) { /* 1200 ~ 최대 */
  .row__poster{max-height: 160px;}
}

@media screen and (max-width: 768px) { /* 0~768 */
  .row__poster{max-height: 100px;}
}

